<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyfit.mapper.LessonMapper"><!-- Query 작성시 CDATA 꼭 써주세요. -->

	<!-- 검색 조회조건 공통모듈 시작 -->
	<sql id="criteria">			   
		<trim prefix="(" suffix=") AND" prefixOverrides="OR"> 
			<foreach item='type' collection="typeArr"> 
				<trim prefix="OR"> 
					<choose>
						<when test="type == 'A'.toString()">
							mname LIKE '%'||#{keyword}||'%'
						</when>
						<when test="type == 'B'.toString()">
							mno LIKE '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							mtel LIKE '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	<!-- 검색 조회조건 공통모듈 끝 -->
	
	
	<!-- SELECT -->
	<select id="exerciseTypeList" resultType="com.easyfit.domain.ExerciseTypeVO">
		<![CDATA[
			SELECT
				eno, ename, emgr
			FROM
				exercisetype
			WHERE
				emgr = #{emgr}
		]]>
	</select>
	
	<select id="tripleList" resultType="com.easyfit.domain.join.LessonJoinVO">
		<![CDATA[
			SELECT
			    rn, mno, mname, mtel, gprno, maxerdate, prturn, prcount, prcountall
			FROM
			    (
			    SELECT
			        rownum rn, mno, mname, mtel, gprno, maxerdate, prturn, prcount, prcountall
			    FROM
			        (
			        SELECT DISTINCT
			            m.mno mno, m.mname mname, m.mtel mtel, gprno, maxerdate, pr.prturn prturn, pr.prcount prcount, pr.prcountall prcountall
			        FROM
			            member m
			        JOIN
			            ptrecord pr
			        ON
			            m.mno = pr.mno
			        JOIN
			            exerciserecord er
			        ON
			            pr.prno = er.prno
			        LEFT OUTER JOIN
			            (
			            SELECT
			                NVL(prno, '') gprno, MAX(erdate) maxerdate
			            FROM                                      
			                exerciserecord
			            GROUP BY
			                prno
			            ) gr
			        ON
			            er.erdate = gr.maxerdate
			        WHERE
			            pr.tno = #{tno}
			]]>			
			<include refid="myCriteria"></include>
			<![CDATA[
			            AND rownum <= #{cri.pageNum} * #{cri.amount}
			        )        
			    )
			    WHERE
			        rn > (#{cri.pageNum} - 1) * #{cri.amount}
			ORDER BY
			    rn DESC
		]]>
	</select>

	<select id="doubleList" resultType="com.easyfit.domain.join.LessonJoinVO">
		<![CDATA[
			SELECT
			    rn, mno, mname, edate, erdate, prno, prcount
			FROM
			    (
			        SELECT
			            rownum rn, mno, mname, edate, erdate, prno,  prcount
			        FROM
			            (
			                SELECT DISTINCT
			                    m.mno mno, m.mname mname, er.edate edate, er.erdate erdate, pr.prno prno, pr.prcount prcount
			                FROM
			                    member m, ptrecord pr, exerciserecord er
			                WHERE
			                	m.mno = pr.mno
			                    AND pr.prno = er.prno
			                    AND er.prno = #{prno}
			            )
			        WHERE
			        	rownum <= #{cri.pageNum} * #{cri.amount}
			    )
			WHERE
				rn > (#{cri.pageNum} - 1) * #{cri.amount}
			ORDER BY
			    rn DESC
		]]>
	</select>	
	
	<select id="get" resultType="com.easyfit.domain.join.LessonJoinVO">
		<![CDATA[
			SELECT
				m.mname mname, m.mno mno, er.ergroup ergroup, er.erno erno, er.eno eno, er.edate edate, er.erset erset, er.erweight erweight, er.ernumber ernumber, er.erdate erdate, er.prno prno, et.ename ename, er.ermemo ermemo
			FROM
				member m, ptrecord pr, exerciserecord er, exercisetype et
			WHERE
				m.mno = pr.mno
				AND pr.prno = er.prno
				AND er.eno = et.eno
				AND er.prno = #{prno}
				AND er.edate = #{edate}
			ORDER BY
				erno ASC
		]]>
	</select>
	
	
	<!-- INSERT -->
	<insert id="register">
		<![CDATA[
			INSERT INTO
				exerciserecord(erno, edate, eno, erset, ernumber, prno, erdate, ermemo)
			VALUES(
				exerciserecord_seq.NEXTVAL, #{edate}, #{eno}, #{erset}, #{ernumber}, #{prno}, sysdate, #{ermemo}
			)
		]]>
	</insert>
	
	<insert id="registerSelectKey">
		<selectKey keyProperty="erno" order="BEFORE" resultType="long">
			SELECT
				exerciserecord_seq.NEXTVAL
			FROM
				dual
		</selectKey>
		
		<![CDATA[
			INSERT INTO
				exerciserecord(erno, edate, eno, erset, ernumber, prno, erdate, ermemo)
			VALUES(
				#{erno}, #{edate}, #{eno}, #{erset}, #{ernumber}, #{prno}, sysdate, #{ermemo}
		)
		]]>
	</insert>
	
	<!-- UPDATE -->
	<update id="modify">
		<![CDATA[
			UPDATE
				exerciserecord
			SET
				ergroup = #{ergroup},
				eno = #{eno},
				edate = #{edate},
				erset = #{erset},
				erweight = #{erweight},
				ernumber = #{ernumber},
				erdate = sysdate,
				ermemo = #{ermemo}
			WHERE
				prno = #{prno}
				AND edate = #{edate}
				AND erno = #{erno}
		]]>
	</update>
	
	<update id="prcountUpdate">
		<![CDATA[
			UPDATE
				ptrecord
			SET
				prcount = (
							SELECT
							    COUNT(edate)
							FROM(
							        SELECT DISTINCT
							            edate
							        FROM
							            exerciserecord 
							        WHERE
							            prno = #{prno}
					            )
					      )
		]]>
	</update>

	
	<!-- DELETE -->
	<delete id="remove">
		<![CDATA[
			DELETE
			FROM
				exerciserecord
			WHERE
				prno = #{prno}
				AND edate = #{edate}
		]]>
	</delete>
	
	
	<!-- 총 게시글 갯수 구하는 메소드 - 운동기록(PT기록 1건당)-->
	<select id="exerciseRecordTotalCount" resultType="long">
		<![CDATA[
			SELECT
			    COUNT(edate)
			FROM(
			        SELECT DISTINCT
			            edate
			        FROM
			            exerciserecord 
			        WHERE
			            prno = #{prno}
			    )
		]]>
	</select>
	
	<!-- 총 게시글 갯수 구하는 메소드 - PT기록(PT계약회차) -->
	<select id="ptRecordTotalCount" resultType="long">
		<![CDATA[
			SELECT
				COUNT(prturn)
			FROM
				ptrecord
			WHERE 
				AND	prno > 0
		]]>
	</select>













<!-- #{tno} 메소드 모음 -->

<!-- #{tno} 의 검색,조회 SECURITY 시작 -->
<sql id="myCriteria">			   
	<trim prefix="(" suffix=") AND" prefixOverrides="OR"> 
		<foreach item='type' collection="cri.typeArr"> 
			<trim prefix="OR"> 
				<choose>
					<when test="type == 'A'.toString()">
						mname LIKE '%'||#{cri.keyword}||'%'
					</when>
					<when test="type == 'B'.toString()">
						mem.mno LIKE '%'||#{cri.keyword}||'%'
					</when>
					<when test="type == 'C'.toString()">
						mtel LIKE '%'||#{cri.keyword}||'%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>
<!-- #{tno} 의 검색,조회 SECURITY 종료 -->

<!-- #{tno} 의 운동일지 시작 -->
<select id="myTripleList" resultType="com.easyfit.domain.join.LessonJoinVO">
<![CDATA[
SELECT
    rn, mno, mname, mtel, prno, prturn, prcount, prcountall, maxerdate
FROM
    (
    SELECT
        rownum rn, mem.mno, mname, mtel, ptr.prno, prturn, prcount, prcountall, maxerdate
    FROM
        member mem, ptrecord ptr, (
            SELECT
                prno, MAX(erdate) maxerdate
            FROM
                exerciserecord
            GROUP BY
                prno
            ) er
    WHERE
]]>			
<include refid="myCriteria"></include>
<![CDATA[
        mem.mno = ptr.mno
        AND ptr.prno = er.prno
        AND tno = #{tno}
        AND rownum <= #{cri.pageNum} * #{cri.amount}
    )
WHERE
    rn > (#{cri.pageNum} - 1) * #{cri.amount}
ORDER BY
    rn DESC
]]>
</select>
<!-- #{tno} 의 운동일지 종료 -->

<!-- #{tno} 의 운동일지 카운트 시작 -->
<select id="myPTRecordTotalCount" resultType="long">
<![CDATA[
SELECT
	COUNT(prturn)
FROM
	ptrecord
WHERE 
	tno = #{tno}
	AND	prno > 0
]]>
</select>
<!-- #{tno} 의 운동일지 카운트 종료 -->




	
</mapper>